/*reset*/
*{margin:0;padding:0;}
ul,dl{list-style:none;}
a{text-decoration:none;color:#000;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body{font-family:"microsoft yahei";}
/*=======================================jPops======================================*/
#popup_container {
	min-width: 400px;
	max-width: 700px;
	background: #FFF;
	color: #000;
	border-radius:5px;
	box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	overflow:hidden;
}

#popup_title {
	font-size:14px;
	line-height:40px;
	text-indent:10px;
	font-weight: bold;
	color: #fff;
	background:#0088CC;
}

#popup_content {
	padding:15px 20px;
}

.popupIcon{
	display:block;
	width:16px;
	height:16px;
	position:absolute;
	right:10px;
	top:12px;
	z-index:999999;
}

.popupIcon i{
    display:block;
    width:16px;
    height:16px;
    background:url('../images/close.png') no-repeat;
}

#popup_message {
	font-family:"microsoft yahei";
}

#popup_panel {
	padding:10px 0 0;
	text-align: right;
}

#popup_prompt {
	height:28px;
	margin:10px 0 0;
}

#jPop_msg{
    padding:0 10px;
    min-width:200px;
    height:50px;
    line-height:50px;
    background:#3078ee;
    text-align: center;
    color:#fff;
    border:1px solid #d9d9d9;
    box-shadow:1px 1px 1px #d9d9d9;
    font-size:16px;
    border-radius:5px;
}
#popup_container.info #popup_title{background:#3078ee;}
#popup_container.warning #popup_title{background:#e48e05;}
#popup_container.success #popup_title{background:#12d208;}
#popup_container.danger #popup_title{background:#eb1818;}
/*popup_progress*/
#popup_progress .title{
    font-size:16px;
    text-shadow:1px 1px 0px #fff;
    padding-bottom:10px;
}