/*reset*/
*{margin:0;padding:0;}
ul,dl{list-style:none;}
a{text-decoration:none;color:#000;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body{font-family:"microsoft yahei";}
/*=======================================jPops======================================*/
.popup-container {
	background: #FFF;
	color: #000;
	border-radius:5px;
	box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	overflow:hidden;
}

.popup-title {
	font-size:14px;
	line-height:40px;
	text-indent:10px;
	font-weight: bold;
	color: #fff;
	background:#0088CC;
}

.popup-content {
	padding: 15px 10px 0;
	margin-bottom:50px;
	overflow:hidden;
}

.popup-close{
	display:block;
	width:16px;
	height:16px;
	position:absolute;
	right:10px;
	top:12px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACiSURBVDhPjZMBDoAgCEU9QkfsRnWDulGdSOObOHSAsLVm8f7ADylRlFK2nPNDz4GzF5R7IxdMzWOY3jXo52UJABZ5vwgBL3/0RCQsRVDBPgvMlWhwY3ZuwxRZwtyvVYlWHXLVewqK6HCwEh9utnarIu4MrTgX1rXMOYnA5px4Vi3nJOKzI3Kqo6z5rIlgDXiZ5D6YVkmRtkPDRkJk6TNyJPwBdZOPexUo35wAAAAASUVORK5CYII=") no-repeat;
	z-index:999999;
}

.popup-message {
	font-family:"microsoft yahei";
	font-size:14px;
}

.popup-panel {
	position:absolute;
	left:0;
	bottom:0;
	width:98%;
	padding:1%;
	text-align: right;
	background:#eee;
	border-top:1px solid #cacaca;
	z-index:99999;
}

.popup-prompt {
	border:1px solid #cacaca;
	padding:3px 1%;
	line-height:25px;
	margin:10px 0;
}

.popup-prompt input{
	height:25px;
	width:98%;
	border:none;
	background:none;
	outline:none;
	font-size:12px;
}

.jPop-msg{
    padding:0 10px;
    min-width:200px;
    height:50px;
    line-height:50px;
    background:#3078ee;
    text-align: center;
    color:#fff;
    border:1px solid #d9d9d9;
    box-shadow:1px 1px 1px #d9d9d9;
    font-size:16px;
    border-radius:5px;
}
.popup-container.info .popup-title{background:#3078ee;}
.popup-container.warning .popup-title{background:#e48e05;}
.popup-container.success .popup-title{background:#12d208;}
.popup-container.danger .popup-title{background:#eb1818;}
/*popup-progress*/
.popup-progress .content{
    font-size:16px;
    text-shadow:1px 1px 0px #fff;
    padding-bottom:10px;
}
/*popup-loading*/
.popup-loading{
	display:block;
	position:fixed;
	top:50%;
	left:50%;
	margin:-50px 0 0 -35px;
	width:70px;
	height:70px;
	border-radius:5px;
	background:url("../Images/popup-loading.gif") center no-repeat;
	background-color:#666;
	background-color:rgba(0,0,0,0.3);
	z-index:999999;
}